[run]
source = ../orchestra
[report]
omit =
    */migrations/*
    */tests/*
    **bitformfield.py

exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
