Django==1.9.6
jsonfield==1.0.3
django-jsonview==0.5.0
requests==2.9.1
factory_boy==2.7.0
coverage==4.0.3
psycopg2==2.6.1
django-registration-redux==1.4
djrill==2.1.0
ipython==4.2.0
boto==2.39.0
moto==0.4.23
flake8==2.5.4
djangorestframework==3.3.3
djangorestframework-httpsignature==1.0.0
djangocms-admin-style==1.1.1
lxml==3.6.0
beautifulsoup4==4.4.1
pyOpenSSL==16.0.0
pycrypto==2.6.1
google-api-python-client==1.5.0
slacker==0.9.10
slackclient==1.0.0
pandas==0.18.0
python-dateutil==2.5.3
django-hijack==2.1.1
django-hijack-admin==2.1.1
django-money==0.7.6
django-filter==0.13.0
django-widget-tweaks==1.4.1
django-bitfield==1.8.0
django-phonenumber-field==1.1.0
django-nose==1.4.3
django-annoying==0.9.0

# Journalism Workflow requirements
Pillow==3.2.0
