# TODO(dhaas): remove packages not needed by core orchestra.
Django==1.8.3
jsonfield==1.0.0
django-compressor==1.5
# Upgrade to newer jsonview once they release it to avoid Django
# importlib deprecation warning.  The jsonview project fixes the problem
# (https://github.com/jsocol/django-jsonview/commit/e7b8ae7da6fde829f1c4dcafc6635813213b5eb4)
# but hasn't yet packaged it on pypi.
django-jsonview==0.4.3
requests==2.5.1
factory_boy==2.5.2
coverage==3.7.1
psycopg2==2.6
django-registration-redux==1.2
djrill==1.4.0
ipython==3.1.0
boto==2.38.0
moto==0.4.1
raven==5.3.1
flake8==2.4.0
djangorestframework==3.1.3
djangorestframework-httpsignature==1.0.0
djangocms-admin-style==0.2.7
lxml==3.4.4
html5lib==0.99999
beautifulsoup4==4.3.2
pyOpenSSL==0.15.1
pycrypto==2.6.1
google-api-python-client==1.4.1
gunicorn==19.3.0
django-object-actions==0.5.1
django-libsass==0.3
slacker==0.7.0
pandas==0.16.2
python-dateutil==2.4.2

# Documentation requirements
Sphinx==1.3.1
sphinx-autobuild==0.5.2
sphinxcontrib-httpdomain==1.4.0

# Journalism Workflow requirements
Pillow==2.9.0
