Django==1.11.21
jsonfield==2.0.2
django-jsonview==1.1.0
requests==2.18.4
factory_boy==2.10.0
coverage==4.5.1
psycopg2==2.7.4
django-registration-redux==2.2
djrill==2.1.0
ipython==6.2.1
boto==2.48.0
moto==0.4.31
flake8==3.5.0
djangorestframework==3.7.7
djangorestframework-httpsignature==1.0.0
djangocms-admin-style==1.2.7
lxml==3.8.0
beautifulsoup4==4.6.0
pyOpenSSL==17.5.0
google-api-python-client==1.6.5
slacker==0.13.0
python-dateutil==2.6.1
django-hijack==2.1.6
django-hijack-admin==2.1.6
django-money==0.12.3
django-filter==1.0.4
django-widget-tweaks==1.4.1
django-bitfield==1.9.3
django-phonenumber-field==2.0.0
django-nose==1.4.4
django-annoying==0.10.3
django-gulp==2.5.1
django-related-admin==0.5.0
django-ajax-selects==1.7.0
django-kronos==1.0
httpsig==1.2.0
markdown2==2.3.5
timeout-decorator==0.4.0
phonenumbers==8.9.0
isort==4.2.15
beanstalk-dispatch==0.0.5
jsl==0.2.4
jsonschema==2.6.0

# Journalism Workflow requirements
Pillow==4.2.1
