version: 2
jobs:
  build:
    working_directory: ~/orchestra
    docker:
        - image: python:3.5.2
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            curl -sL https://deb.nodesource.com/setup_8.x | bash - && apt-get install -y nodejs
            curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
            export PATH="$HOME/.yarn/bin:$PATH"
            yarn global add gulp
            yarn
            # circle has a really old version of pip by default which seems to break
            # builds sometimes.
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install coveralls
      - run:
          name: Run tests
          command: |
            make lint
            make coverage
            make coveralls
            # Circle uses XUnit reports
            mkdir -p $CIRCLE_TEST_REPORTS/python/
            find . -wholename *nosetests.xml -exec mv {} $CIRCLE_TEST_REPORTS/python/ \;
