{% extends 'orchestra/base.html' %}
{% load staticfiles %}


{% block title %} Available Staffing Requests {% endblock %}

<!--

- Test: left-align the labels and the content
.communication-container {
    /* text-align: center; */
}


- Test: Sort oldest first

- accept/reject should be on same line, aligned to the top

- Bigger text: Larry's lobster

-->
{% block main %}
<div class="container-fluid main-content staffing-container">
  <div class="col-lg-12">
    <div class="card">
      <table class="table">
        <tr>
          <th>Project</th>
          <th>Project description</th>
          <th>Task</th>
          <th>Details</th>
          <th>Actions</th>
        </tr>
        {% for request in requests %}
        <tr>
          <td>{{ request.workflow_description }}</td>
          <td>{{ request.project_description }}</td>
          <td>{% if request.role_counter > 0 %}[Review] {% endif %}{{ request.step_description }}</td>
          <td>{{ request.detailed_description }}</td>
          <td>
            <a href="{{ request.accept_url }}" class="btn btn-primary btn-sm">Accept</a>
            <a href="{{ request.reject_url }}" class="btn btn-primary btn-sm">Ignore</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
