{% extends 'orchestra/base.html' %}
{% load staticfiles %}

{% block title %} Available Tasks {% endblock %}

{% block header %}
<meta http-equiv="refresh" content="600" />
{% endblock %}

{% block main %}
<div class="container-fluid main-content staffing-container">
  <!-- Worker availability settings -->
  <div class="col-lg-12 availability-forms">
    <div class="card">
      <h3>Your availability</h3>
      <div class="col-lg-6">
        <h4>This week</h4>
        <table>
          {% for field in this_week_availability_form %}
          <tr class="fieldWrapper">
            <td>
              {{ field.errors }}
              {{ field.label_tag }}
            </td>
            <td>{{ field }} hours<td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-lg-6">
        <h4>Next week</h4>
        <table>
          {% for field in next_week_availability_form %}
          <tr class="fieldWrapper">
            <td>
              {{ field.errors }}
              {{ field.label_tag }}
            </td>
            <td>{{ field }} hours<td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <!-- Table of available tasks -->
  <div class="col-lg-12 available-tasks">
    <div class="card">
      {% if requests|length > 0 %}
      <table class="table">
        <tr>
          <th class="row-project">Project</th>
          <th class="row-project-description">Project description</th>
          <th class="row-task">Task</th>
          <th class="row-details">Details</th>
          <th class="row-created-at">Available since</th>
          <th class="row-actions">Actions</th>
        </tr>
        {% for request in requests %}
        <tr>
          <td>{{ request.workflow_description }}</td>
          <td>{{ request.project_description }}</td>
          <td>{% if request.role_counter > 0 %}[Review] {% endif %}{{ request.step_description }}</td>
          <td>{{ request.detailed_description | safe }}</td>
          <td>{{ request.available_datetime|date:"m/d/Y H:i" }}</td>
          <td>
            <a href="{{ request.accept_url }}" class="btn btn-primary btn-sm" role="button">Accept</a>
            <a href="{{ request.reject_url }}" class="btn btn-primary btn-sm" role="button">Ignore</a>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h2>There are no tasks available at the moment.</h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
