<script type="text/ng-template" id="todoQaItemTemplate">
  <div ui-tree-handle class="tree-node tree-node-content">
    <label ng-class="{
      'todo--disapproved': isDisapproved(todo),
      'todo--approved': isApproved(todo)
      }">
      <span ng-click="toggle(this)">
        <i aria-hidden="true" ng-if="todo.items && todo.items.length > 0" data-nodrag
          class="fa skipped-todos"
          ng-class="{
            'fa-caret-right': collapsed,
            'fa-caret-down': !collapsed
          }">&nbsp;</i>
        <i class="fa fa-circle-o" aria-hidden="true" ng-if="(!todo.items || todo.items.length === 0)" data-nodrag>&nbsp;</i>
        <span ng-class="{'todo--skipped': todo.skipped_datetime}" ng-if="todo.skipped_datetime">(Not relevant)&nbsp;</span>
        <span ng-class="{'todo--skipped': todo.skipped_datetime}" class="todo__description" ng-bind-html="todo.title"></span>
      </span>
      <span>
        &nbsp;&nbsp;
        <a href="#" ng-if="isApprovalPending(todo) || isDisapproved(todo)" ng-click="approveTodo(todo)">[approve]</a>
        <a href="#" ng-if="isApprovalPending(todo) || isApproved(todo)" ng-click="disapproveTodo(todo)">[disapprove]</a>
        <a href="#" ng-if="!isApprovalPending(todo) && !hasComment(todo)" ng-click="addNewComment(todo)">[add comment]</a>
      </span>
    </label>
    <form class="form-inline" ng-if="hasComment(todo)" >
      <textarea class="form-control input-sm" rows="1" cols="50" ng-change="onCommentChange(todo)" ng-model="todo.qa.comment" ng-trim="true"></textarea>
      <button ng-if="updatedComments[todo.id]" ng-click="submitComment(todo)" class="btn btn-primary btn-sm">Submit</button>
    </form>

  </div>
  <ol ui-tree-nodes ng-model="todo.items" ng-class="{hidden: collapsed}" ng-if="!collapsed">
    <li ng-repeat="todo in filterTemplateTodos(todo.items)" ui-tree-node data-collapsed="true" ng-include="'todoQaItemTemplate'"></li>
  </ol>
</script>


<div class="list-by-status" ng-if="todos.length > 0">
  <div class="todo">
    <div ui-tree data-drag-enabled="false" id="tree-root">
      <ol ui-tree-nodes ng-model="todos">
        <li ng-repeat="todo in filterTemplateTodos(todos)" ui-tree-node data-collapsed="true" ng-include="'todoQaItemTemplate'"></li>
      </ol>
    </div>
  </div>
</div>
