.todo {
  &-skipped {
    opacity: 0.5;
  }
  &-disapproved {
    color: #ff0000;
  }
  &-approved {
    color: #00981c;
  }
  &-qa-approval-reason {
    display: block;
    font-size: xx-small;
    padding: 0px;
  }
}
