<section class="section-panel todo-list">
  <div class="container-fluid">
    <div class="row section-header">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>
          Todo List
        </h3>
      </div>
    </div>

    <div class="row section-body new-todo">
      <div class="col-lg-2">
        <select class="form-control input-sm" name="todoList" id="todoList" ng-model="todoList.newTodoStepSlug">
          <option value="" selected>Select owner</option>
          <option value="{{task.step_slug}}" ng-repeat="task in todoList.possibleTasks">{{todoList.steps[task.step_slug].name}}</option>
        </select>
      </div>
      <div class="col-lg-5">
        <input class="form-control input-sm"
               type="text"
               ng-model="todoList.newTodoDescription"
               placeholder="Add a todo item">
        <div class="pull-right">
          <div class="new-todo__datetime">
            <label>Start</label>
            <date-picker
              date="todoList.newTodoStartDate"
              callback="todoList.setTimeOfDate"></date-picker>
            <time-input
              datetime="todoList.newTodoStartDate"
              default-hour="8"
              ></time-input>
          </div>
          <div class="new-todo__datetime">
            <label>Due</label>
            <date-picker
              date="todoList.newTodoDueDate"
              callback="todoList.setTimeOfDate"></date-picker>
            <time-input
              datetime="todoList.newTodoDueDate"
              default-hour="18"
              ></time-input>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <button type="submit"
                 class="btn btn-primary btn-sm btn-block edit-save-handle"
                 ng-disabled="!todoList.canAddTodo()"
                 ng-click="todoList.addTodo()">
                Add todo
        </button>
      </div>
      <div class="col-lg-2" ng-if="todoList.templates.length > 0">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  ng-disabled="!todoList.newTodoStepSlug">
            Add todos from a template <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="template in todoList.templates" ng-click="todoList.updateTodoListFromTemplate(template.slug)">
              <a href="">{{template.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row section-body" ng-if="todoList.ready">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="todolist-pane">
          <p class="todolist-pane__heading col-sm-3">Todo items</p>
          <todo-checklist
              title="Todos"
              todos="todoList.todos"
              todo-qas="todoList.todoQas"
              templates="todoList.templates"
              show-skipped="false"
              update-todo="todoList.updateTodo"
              remove-todo="todoList.removeTodo"
              skip-todo="todoList.skipTodo"
              unskip-todo="todoList.unskipTodo"
              steps="todoList.steps"
              on-toggle-todo="todoList.onToggleTodo"
          ></todo-checklist>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="todolist-pane" ng-if="todoList.templates.length > 0">
          <p class="todolist-pane__heading col-sm-4">Skipped todo items</p>
          <todo-checklist
              title="Todos"
              todos="todoList.todos"
              todo-qas="todoList.todoQas"
              templates="todoList.templates"
              show-skipped="true"
              update-todo="todoList.updateTodo"
              remove-todo="todoList.removeTodo"
              steps="todoList.steps"
              skip-todo="todoList.skipTodo"
              unskip-todo="todoList.unskipTodo"
              on-toggle-todo="todoList.onToggleTodo"
          ></todo-checklist>
        </div>
      </div>
    </div>

  </div>
</section>
