.todo-list {
  .section-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .new-todo {
    float: left;
    &__box {
      display: inline-block;
      &-details {
        width: 600px
      }
    }
    &__description {
      width: 600px;
      &__datetime {
        display: inline-block;
        padding-left:10px;
      }
    }
  }
}
