<section class="section-panel todo-list">
  <div class="container-fluid">

    <div class="row section-header">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>
          QA
          <button class="btn" ng-if="todoQa.todos.length" ng-click="todoQa.copyToClipboard(todoQa.qaSummary())">
              Copy QA summary
          </button>
        </h3>
      </div>
    </div>

    <div class="row section-body" ng-if="todoQa.ready">
      <div class="col-sm-12">
        <todo-qa-list
        todos="todoQa.todos"
        approve-todo="todoQa.approveTodo"
        disapprove-todo="todoQa.disapproveTodo"
        update-todo-qa-comment="todoQa.updateTodoQaComment"
        ></todo-qa-list>
      </div>
    </div>

  </div>
</section>
