@import "~@b12/metronome/style/mixins";
@import "~@b12/metronome/style/variables";

.projects-list {
    &__wrapper {
        margin: 25px;
    }
    @include ds-typography;
    th p {
        margin: 0;
    }
    .ds-badge--filled.ds-badge--primary {
        background-color: #695FF6;
    }
}