@import "~@b12/metronome/style/mixins";
@import "~@b12/metronome/style/variables";

.projects-list {
    &__wrapper {
        margin: 25px;
    }
    &__status-row {
        display: flex;
        align-items: center;
    }
    @include ds-typography;
    th p {
        margin: 0;
    }
    tbody {
        tr:nth-child(even) {
            background: $ds-ui-light-color;
        }
    }
    .ds-badge--filled.ds-badge--primary {
        background-color: $ds-brand-light-color;
    }
}