.communication-container {
  text-align: center;

  .card {
    padding-top: 80px;
  }

  a {
    color: #FFF;
  }

  .spaced {
    padding-top: 15px;
  }
}


.staffing-container {
  font-size: 1.2em;
  .card {

    h2 {
      padding: 125px 0px 125px 0px;
      text-align: center;
    }

    table {
      table-layout: fixed;

      .row-project {
        width: 15%;
      }
      .row-project-description {
        width: 20%;
      }
      .row-task {
        width: 20%;
      }
      .row-details {
        width: 20%;
      }
      .row-created-at {
        width: 10%;
      }

      .row-actions {
        width: 15%;
      }
    }
  }

  .available-tasks {
    .card {
      height: initial;
    }

    table {
      td:first-child, th:first-child {
        padding-left: 20px;
      }
    }
  }

  .availability-forms {
    .card {
      padding: 20px;
      height: 320px;
    }

    h3 {
      margin-bottom: 14px;
    }

    h4 {
      margin-bottom: 12px;
    }

    .availability-form {
      float: left;
      padding-right: 64px;
      font-size: 14px;

      input {
        max-width: 100px;
      }
    }

    td {
      text-align: right;
      padding: 0 12px 6px 0;
    }

    label {
      margin-bottom: 0;
    }
  }
}
