<li ng-class="{'item-expanded': item.expanded,
               'item-hidden': data.hideCompleted && item.checked}"
    data-key="{{item.$$hashKey}}"
    class="checklist-item item-{{item.$$hashKey}}">
  <div ng-mouseenter="item.hover = true"
       ng-mouseleave="item.hover = false"
       class="line-item">
      <input type="checkbox"
             name="item-{{item.$$hashKey}}-checkbox"
             id="item-{{item.$$hashKey}}-checkbox">
      <label ng-class="{'checked': item.checked}"
             ng-click="item.checked = !item.checked; item.expanded = false"
             for="item-{{item.$$hashKey}}-checkbox">
          <i class="fa fa-check"></i>
      </label>
      <div ng-click="expandItem(item)"
           class="item-title">
          <input ng-model="item.title"
                 ng-readonly="item.readonly"
                 ng-class="{'readonly': item.readonly}"
                 ng-click="$event.stopPropagation(); item.readonly && editItem(item, $event);"
                 ng-blur="item.readonly = true"
                 ng-keydown="$event.keyCode == 13 && editItem(item)"
                 class="item-title-input"
                 type="text"
                 placeholder="Item title here"
                 title="Edit item title">
      </div>
      <div ng-hide="!item.hover && !item.expanded && item.readonly"
           class="item-tools">
          <div ng-click="expandItem(item)"
               ng-class="{'selected': item.expanded}"
               class="expand-toggle"
               title="Expand comments">
              <i class="fa fa-comment-o"></i>
              <span class="badge badge-comments">{{item.comments.length}}</span>
          </div>
          <div ng-click="editItem(item)"
               ng-class="{'selected': !item.readonly}"
               class="edit-toggle"
               title="Edit item title">
              <i class="fa fa-edit"></i>
          </div>
          <div ng-click="removeItem(item, 'true')"
               class="item-remove"
               title="Delete checklist item">
              <i class="fa fa-times"></i>
          </div>
      </div>
  </div>

  <div ng-class="{'expanded': item.expanded}" class="item-description">

    <!-- Comments already posted -->
    <div ng-repeat="comment in item.comments track by $index"
         class="comment">
        <div class="comment-meta">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{getCommentTimestamp(comment)}}</div>
        </div>
        <div class="comment-editor">
          <orchestra-quill readonly="comment.readonly"
                           data="comment.text"
                           image-prefix="imagePrefix">
          </orchestra-quill>
          <div ng-hide="!comment.active" class="comment-tools">
            <div ng-click="editComment(comment)"
                 ng-class="{'selected': !comment.readonly}"
                 class="edit-toggle"
                 title="Edit comment">
                <i class="fa fa-edit"></i>
            </div>
            <div ng-click="removeComment(item, $index)"
                 class="item-remove"
                 title="Delete comment">
                <i class="fa fa-times"></i>
            </div>
          </div>
        </div>
      </div>

    <!-- New comment, if applicable -->
    <div ng-if="item.newComment" class="comment new-comment">
      <div class="comment-editor">
        <div ng-click="removeNewComment(item)"
             class="cancel-comment">
          Cancel
        </div>
        <div ng-click="submitComment(item)"
             ng-disabled="!item.newComment.text"
             class="btn btn-sm btn-primary btn-submit-comment">
          Submit comment
        </div>
        <orchestra-quill readonly="false"
                         data="item.newComment.text"
                         image-prefix="imagePrefix">
        </orchestra-quill>
      </div>
    </div>

    <div ng-if="!item.newComment"
         ng-click="addComment(item)"
         class="btn btn-sm btn-primary btn-add-comment">
      Add comment
    </div>

  </div>
</li>
