<div class="timecard-view" ng-click="vm.editEntry()">
  <h1>Timecard</h1>
  <button ng-click="vm.timecardService.createEntry()" class="btn btn-primary btn-add-entry">
    Add new entry
  </button>
  <div class="entries">
    <div class="date-group" ng-repeat="dateEntries in vm.timecardService.entriesByDate | toArray">
      <span class="date-label">{{ vm.prettyDate(dateEntries.$key) }}</span>
      <span class="date-duration">{{ vm.timecardService.getDateSum(dateEntries.$key) }}</span>
      <div class="entry-row" ng-repeat="entry in dateEntries | orderBy:'timer_start_time'">
        <!-- <i ng-click="vm.timecardService.deleteEntry(entry)" class="fa fa-times-circle pull-right"></i> -->
        <form novalidate name="entryForm" class="form-inline">
          <input class="description form-control" type="text" ng-model="entry.description" ng-model-options="{debounce: 1000}" ng-change="vm.timecardService.updateEntry(entry)" placeholder="What did you work on?">
          <span class="date-group" entry="entry" pikaday>
            <i class="fa fa-calendar-o date-picker"></i><span>{{ entry.date.format('MMMM D') }}</span>
          </span>
          {{ vm.timecardService.humanizeDuration(entry.time_worked) }}
        </form>
      </div>
    </div>
  </div>
</div>
