{% extends 'orchestra/base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}


{% block topbar %}
<div class="nav notify-row" id="top_menu">
  <!--  notification start -->
  <ul class="nav top-menu">
  </ul>
</div>
<!--  notification end -->

<div id="nav-options" class="dropdown">
  <div class="dropdown-toggle" id="dropdown-menu-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ user.username }}
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu-main">
    <li>
      <a href="/">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href="/orchestra/app/performance/">
        <i class="fa fa-bar-chart-o"></i>
        <span>Performance</span>
      </a>
    </li>

    <li>
      <a href="{% url 'logout_then_login' %}" target="_self">
        <i class="fa fa-sign-out"></i>
        <span>Sign out</span>
      </a>
    </li>
  </ul>
</div>

{% endblock %}

{% block main %}
<section id="main-content" ng-view autoscroll="true">
  {% block content %}content{% endblock content %}
</section>
{% endblock %}

{% block page_javascript %}
<script type="text/javascript">
    window.orchestra = {{ orchestra_arguments | safe }};
</script>

<script src="{% static "orchestra/common/js/lib/angular.min.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/lib/angular-route.min.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/lib/ui-bootstrap-tpls.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/lib/filters.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/orchestra.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/modules.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/orchestra.config.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/orchestra.routes.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/orchestra.services.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/js/orchestra_api.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/modules.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/checklist/lib/dragula/dragula.min.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/checklist/js/directives.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/quill/js/quill.min.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/quill/js/directives.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/iframe/js/directives.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/project_folder/project_folder.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/common/components/team_messages/team_messages.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/task/js/module.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/task/js/controllers.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/task/js/directives.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/task/js/autosave.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/task/js/required_fields.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/dashboard/js/module.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/dashboard/js/controllers.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/dashboard/js/directives.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/lib/d3.min.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/module.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/controllers.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/data_service.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/crosshair.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/visUtils.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/tasksVis.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/assignmentsVis.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/iterationsVis.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/axis.js" %}" type="text/javascript"></script>
<script src="{% static "orchestra/project_management/js/projectVis.js" %}" type="text/javascript"></script>

{% for js in javascript_includes %}
  {{ js | safe}}
{% endfor %}
{% endblock page_javascript%}

{% block page_stylesheets %}
    {% for css in stylesheet_includes %}
      {{ css | safe }}
    {% endfor %}
{% endblock page_stylesheets%}
