<div class="timecard-view">
  <div class="entries">
    <div class="date-group" ng-repeat="dateEntries in vm.timeEntries.entriesByDate | toArray | orderBy:vm.datetimeFromKey:'true'">
      <h2>
        <span class="date-label">{{ vm.prettyDate(dateEntries.$key) }}</span>
        <i ng-click="vm.timeEntries.createEntry(vm.datetimeFromKey(dateEntries))" class="fa fa-plus btn-add-entry"></i>
        <span class="date-duration">{{ vm.humanizeDuration(vm.timeEntries.timeWorkedForDate(dateEntries.$key)) }}</span>
      </h2>
      <div class="date-entries">
        <div ng-if="!dateEntries.length" class="entry-row">
          <em>No entries for this date</em>
        </div>
        <div class="entry-row" ng-mouseenter="entry.hover = true" ng-mouseleave="entry.hover = false" ng-repeat="entry in dateEntries | orderBy:'timer_start_time'">
          <form novalidate name="entryForm" class="form-inline">
            <div class="description">
              <span ng-hide="entry.editing">
                <span ng-show="entry.description">
                  {{ entry.description }}
                </span>
                <span ng-hide="entry.description">
                  <em>No description</em>
                </span>
              </span>
              <input ng-show="entry.editing"
                     class="form-control"
                     type="text"
                     ng-model="entry.description_edit"
                     placeholder="What did you work on?">
            </div>
            <div class="edit-tools disable-select">
              <i ng-click="vm.timeEntries.deleteEntry(entry)" class="fa fa-times-circle"></i>
              <i class="fa fa-pencil-square-o" ng-class="{active: entry.editing}" ng-click="vm.editEntry(entry)"></i>
            </div>
            <div class="edit-time" ng-show="entry.editing">
              <label>
                <input class="form-control"
                       type="number"
                       ng-model="entry.time_worked_edit.hours"
                       digits="2"
                       enforce-integers>
                <span ng-hide="entry.editing">{{ entry.time_worked.get('hours') }}</span>
                h
              </label>
              <label>
                <input class="form-control"
                       type="number"
                       ng-model="entry.time_worked_edit.minutes"
                       digits="2"
                       enforce-integers>
                m
              </label>
            </div>
            <div class="edit-time" ng-hide="entry.editing">
              {{ vm.humanizeDuration(entry.time_worked) }}
            </div>
            <div class="edit-date" ng-show="entry.editing">
              <label>Move to date</label>
              <span class="date-picker" entry="entry" pikaday>
                <i class="fa fa-calendar-o"></i>{{ entry.date.format('MMMM D') }}
              </span>
            </div>
            <div class="edit-options pull-right">
              <div class="edit-cancel-handle" ng-show="entry.editing" ng-click="vm.cancelChanges(entry)">
                Cancel
              </div>
              <div class="btn btn-primary edit-save-handle" ng-show="entry.editing" ng-click="vm.saveChanges(entry)">
                Save changes
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
